{% extends 'base.html' %}


{% block title %}
    سرماخوردگی | توصیه های خانگی
{% endblock %}


{% block content %}
    {% include 'kids/includes/navbar.html' %}

    <section style="background-color: #eee;">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-12">
                    <div class="card text-black mb-5 mt-2" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">توصیه های خانگی - سرماخوردگی</p>

                                <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
                                    به یاد داشته باشید سرماخوردگی نیاز به درمان آنتی بیوتیکی ندارد. آنتی بیوتیک‌ها دوره سرماخوردگی را کوتاه و آن را درمان نمی کنند.
                                </p>
                                <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
                                    1. اگر کودک تب دارد به بخش تب مراجعه کنید.
                                </p>
                                <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
                                    2. برای رفع تب و ناراحتی، استامینوفن یا بروفن به کودک بدهید. به هیچ بیمار زیر 20 سالی که بیماری ویروسی دارد نباید آسپرین داد.
                                </p>
                                <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
                                    3. برای آبریزش بینی، اگر کودکتان می تواند تشویقش کنید که فین کند. به او نگویید دماغش را بالا نکشد. این کار در واقع راه خوبی برای تمیز کردن مجرای بینی است و باعث می شود عفونت به گوش یا سینوس‌ها گسترش نیابد. در کودکان کوچکی که نمی توانند فین کنند و بینی شان را تمیز کنند، افشانه آب نمک (سالین) بینی که از داروخانه قابل خرید است، می تواند به تمیز کردن بینی کمک کند. از افشانه های ضد احتقان بینی برای کودکان استفاده نکنید.
                                </p>
                                <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
4. برای رفع انسداد بینی، در حالی که کودک به پشت خوابیده، 3 قطره آب گرم در هر یک از سوراخ های بینی بریزید. پس از 1 دقیقه، از کودک بخواهید فین کند. هر اندازه که لازم می دانید می توانید این کار را تکرار کنید.
                                </p>
                                <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
5. داروهای ضد احتقان خوراکی یا ترکیبی، مثل دیفن هیدرامین کامپاند، می توانند به خشک شدن آبریزش بینی و بهبود خواب کمک کنند. البته به یاد داشته باشید اگر بیماری قلبی، پرفشاری خون بالای کنترل نشده یا آسم شدید وجود دارد، نباید از داروهای ضد احتقان استفاده کرد. داروهای آنتی هیستامین برای کودکان زیر 2 سال توصیه نمی شوند.
                                </p>
                                <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
6. اگر به خواب رفتن یا تمرکز کودک در مدرسه با مشکل مواجه است می توان از شربت های ضد سرفه حاوی دکسترومتورفان کمک گرفت. نباید سرفه خلط دار یا مرطوب را سرکوب کرد زیرا این نوع سرفه اخلاط سینه را پاک می کند. اگر کودک مشکلات تنفسی دارد (مثل آسم) نباید دکسترومتورفان به وی داد. به کودکان کمتر از یک سال به هیچ وجه دکسترومتورفان ندهید.
                                </p>
                                <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
7. خوردن چند جرعه مایعات گرم به آرام شدن سرفه کمک می کند. آب گرم با شکر یا آب میوه گرم مثل شربت لیمو یا سوپ جوجه گزینه های خوبی هستند.
                                </p>
                                <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
8. قرص های مکیدنی در کودکان بالای 2 سال که امکان مکیدن دارند، می تواند به رفع خشکی و سوزش گلو کمک کند مشروط بر اینکه کودک بتواند یک آبنبات سفت را بمکد.
                                </p>
                                <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
9. نگذارید کودک در معرض دود سیگار قرار بگیرد.
                                </p>
                                <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
10. کودک نباید ورزش و بازی کند و باید به خوبی استراحت کند. به کودک مایعات اضافی بدهید. اگر دستگاه بخور سرد دارید، از آن استفاده کنید.
                                </p>
                                <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
11. اگر کودکتان شیرخوار است، شیردهی را قطع نکنید. ممکن است لازم شود دفعات تغذیه را افزایش دهید.
                                </p>
                                <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
12. شستن دست‌ها می تواند از گسترش عفونت پیشگیری کند.
                                </p>

                                {% for advice in advices %}
                                    <p class="text-right h5 mb-2 mx-1 mx-md-4 mt-4">
                                        {{ advice }}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
